.club-categories {
  list-style: none;
  padding-left: none;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
}

.club-category {
  display:flex;
  flex-direction: column;
  margin: 20px 0;
}

.category-desc {
  padding-left: 20px;
}

.club-list {
  list-style-type: disc;
}

@media only screen and (min-width: 700px) {
  .club-category {
    flex-direction: row;
  }
}