html, body {
  height: 98%;
  display:flex;
  flex-direction: column;
  color: 696970;
}

hr {
  margin: 0;
  border-top: 3px solid #819491;
}

body > * {
  flex-shrink: 0;
}

.page-welcome {
  padding: 10px 30px;
  border-bottom: 3px solid #819491;
  color: 696970;
}
h1 {
  text-align: center;
  padding-bottom: 15px;
}
nav.navbar {
  margin: 20px 0 60px 0;
  border-bottom: 3px solid #819491;
}

div.navbar {
  margin: 0px auto;
  flex: 1;
}

.navbar-nav {
  width: 600px;
  justify-content: space-around;
  flex: 1;
}

.nav-item {
  flex: 1;
}

.nav-link {
  text-align: center;
  background-color: #ccc29f;
  color: #696870;

}

.carousel {
  width: 400px;
}
.footer {
  margin: 20px auto 0 auto;
}


.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow:1;
}
.links {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.button:link,
.button:visited {
  font-weight: bold;
  border: 2px solid #5d6063;
  border-radius: 5px;
  width: 200px;
  margin: 20px 0 20px 0;
  padding: 20px 0 20px 0;
  text-align: center;
  background-color: #ccc29f;
  color: #819491;
}

.footer {
  margin-top: 20px;
}

@media (min-width: 992px) {
  .vertical-hr {
    width: 2px;
    height: 50px;
    size: 500px;
    margin: 0 auto;
    background-color: #c4b69b;

  }
}